<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Album Title</key>
	<string></string>
	<key>Artist</key>
	<string></string>
	<key>Genre</key>
	<string></string>
	<key>Release Date</key>
	<string></string>
	<key>Song List</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string></string>
			<key>artist</key>
			<string></string>
			<key>lyrics</key>
			<string></string>
			<key>Rate</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
