<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>director</key>
		<array>
			<string>Michael Bay</string>
		</array>
		<key>title</key>
		<string>Transformers</string>
		<key>year</key>
		<real>2007</real>
		<key>genre</key>
		<array>
			<string>action</string>
			<string>adventure</string>
			<string>sci-fi</string>
		</array>
		<key>stars</key>
		<array>
			<string>Shia LaBeouf</string>
			<string>Megan Fox</string>
			<string>Josh Duhamel</string>
		</array>
		<key>posterUrl</key>
		<string>poster-1.jpg</string>
	</dict>
</array>
</plist>
