<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>타이틀</string>
		<key>cellType</key>
		<string>basic</string>
		<key>subTitle</key>
		<string>서브타이틀</string>
	</dict>
</array>
</plist>
