<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>770445721832-n3fe67ecfn5if1aoin7ne8k2ncgkfs2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770445721832-n3fe67ecfn5if1aoin7ne8k2ncgkfs2b</string>
	<key>API_KEY</key>
	<string>AIzaSyAO9LXqawWGYVA5BrKUIs4T8lwZYF1vavc</string>
	<key>GCM_SENDER_ID</key>
	<string>770445721832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLEE.InstagramSample</string>
	<key>PROJECT_ID</key>
	<string>sampleinstagram-23b78</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleinstagram-23b78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:770445721832:ios:08ecfd095d79cd0d</string>
	<key>DATABASE_URL</key>
	<string>https://sampleinstagram-23b78.firebaseio.com</string>
</dict>
</plist>